<div class="home__container">
	<app-card
		gameCover="assets/bt-1.jpg"
		gameLabel="EXCLUSIVE"
		gameType="DIGITAL | PS4"
		gamePrice="129,99"
	></app-card>
	<app-card
		gameCover="assets/bt-hardline.jpg"
		gameLabel="DIGITAL"
		gameType="DISC | PS3 PS4 PS5"
		gamePrice="269,99"
	></app-card>
	<app-card
		gameCover="assets/ac-cover.jpg"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS5"
		gamePrice="269,99"
	></app-card>
	<app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="EXCLUSIVE"
		gameType="DIGITAL | PS4 PS5"
		gamePrice="219,99"
	></app-card>
</div>
